#library-content{
    position: absolute;
    z-index: 2;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: var(--darkest-gray);
    display: flex;
}

/* Stylizacja przycisku menu */
.librarybtn {
    padding: 10px;
    background-color: var(--light-grey);
    color: var(--white);
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px; /* Jeśli chcesz większe zaokrąglenie, dostosuj wartość */
    margin-left: 10px;
    top: 10px;
    position: relative;
    font-family: var(--main-font);
    border: var(--lightest-gray) 1px solid;
}

.librarybtnMakeBigger{
    padding: 12px;
    top: 9px;
    position: relative;
}

/* Kontener dla menu dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Zawartość dropdown - domyślnie ukryta */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--light-grey);
    min-width: 160px;
    z-index: 1000; /* Ustaw z-index na wyższą wartość, aby zapewnić widoczność */
    margin-top: 5px;
    left: 10px;
    border-radius: 5px; /* Użyj większej wartości jeśli chcesz większe zaokrąglenie */
    overflow: hidden; /* Aby zaokrąglenie działało prawidłowo */
    position: absolute;
    top: 50px;
}

/* Linki w dropdown */
.dropdown-content p {
    color: var(--white);
    font-family: var(--main-font);
    font-size: 1rem;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: solid 1px var(--darkest-gray); /* Zmniejsz grubość obramowania */
}

/* Stylizacja linków na hover */
.dropdown-content p:hover {
    background-color: var(--lightest-gray);
}

/* Usuwanie dolnego border-bottom w ostatnim linku */
.dropdown-content p:last-child {
    border-bottom: none;
}


#add-song-playlist{
    top: 10px;
    right: 10px;
    position: absolute;
    display: flex;
}

#add-song-playlist p{
    font-family: var(--main-font);
    font-size: 1.2rem;
    color: var(--white);
    background-color: var(--medium-gray);
    border-radius: 5px;
    padding: 10px;
    margin-left: 15px;
    border: var(--lightest-gray) 1px solid;
}

#songs{
    height: calc(100% - 65px);
    position: absolute;
    bottom: 0px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap; /* Pozwala na łamanie wierszy */
    align-content: flex-start;
}

/* Stylizacja całego suwaka */
#songs::-webkit-scrollbar {
    width: 8px; /* Szerokość suwaka */
}

/* Stylizacja tła suwaka */
#songs::-webkit-scrollbar-track {
    background: var(--light-grey); /* Kolor tła suwaka */
}

/* Stylizacja uchwytu suwaka */
#songs::-webkit-scrollbar-thumb {
    background: var(--lightest-gray); /* Kolor uchwytu */
    transition: background 0.3s; /* Płynne przejście przy zmianie koloru */
}

/* Stylizacja uchwytu suwaka przy najechaniu */
#songs::-webkit-scrollbar-thumb:hover {
    background: var(--shadow-white); /* Jaśniejszy kolor uchwytu przy najechaniu */
}

.songToSelectInLibrary{
    flex: 1 0 50%; /* Dzieci zajmują po 50% szerokości kontenera */
    box-sizing: border-box;
    width: 50%;
    height: 65px;
    background-color: var(--darkest-gray);
    border-bottom: solid 1px var(--light-grey);
    border-right: solid 1px var(--light-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#popup{
    visibility: hidden;
    background-color: #00000069;
    z-index: 9999;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#create-playlist-menu{
    position: absolute;
    z-index: 99999;
    height: 700px;
    width: 1000px;
    border: solid 5px var(--light-grey);
    background-color: var(--medium-gray);
    display: flex;
    align-items: center;
    flex-direction: column;
}

#create-playlist-menu h1{
    margin-top: 10px;
    color: var(--white);
    font-family: var(--main-font);
    font-size: 2.5rem;
}

#create-playlist-options{
    margin-top: 45px;
    margin-bottom: 35px;

    display: flex;
}

.input-create-playlist {
    width: 350px;
    height: 50px;
    min-width: 150px;
    padding: 0 10px;
    border: 2px solid var(--lightest-gray);
    border-radius: 5px;
    background-color: var(--light-grey);
    color: var(--white);
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s, background-color 0.3s;
    font-family: var(--main-font);
    margin-right: 35px;
}

.input-create-playlist::-webkit-text-cancel-button,
.input-create-playlist::-webkit-text-clear-button,
.input-create-playlist::-webkit-text-decoration,
.input-create-playlist::-webkit-text-done-button,
.input-create-playlist::-webkit-text-results-button,
.input-create-playlist::-webkit-text-results-decoration {
    -webkit-appearance: none;
}

.input-create-playlist::placeholder {
    color: var(--shadow-white);
    opacity: 1;
}

.input-create-playlist:focus {
    border-color: var(--lightest-gray);
    background-color: var(--lightest-gray);
}

.input-create-playlist:hover {
    border-color: var(--light-grey);
    background-color: var(--lightest-gray);
}

#dropdown-create-playlist{
    width: 150px;
    height: 50px;
    border: 2px solid var(--lightest-gray);
    background-color: var(--light-grey);
    border-radius: 5px;
}

/*jak zrobić że jest scroll bar na x a jak bym chciał żeby można było scrollować na x bez trzymania shifta*/

#sample-songs-to-add {
    display: flex;
    width: 925px;
    height: 300px;
    overflow-x: auto;
    overflow-y: hidden;
}

#sample-songs-to-add img{
    margin-right: 20px;
}

/* Stylizacja całego suwaka */
#sample-songs-to-add::-webkit-scrollbar {
    height: 8px; /* Szerokość suwaka */
}

/* Stylizacja tła suwaka */
#sample-songs-to-add::-webkit-scrollbar-track {
    background: var(--light-grey); /* Kolor tła suwaka */
}

/* Stylizacja uchwytu suwaka */
#sample-songs-to-add::-webkit-scrollbar-thumb {
    background: var(--lightest-gray); /* Kolor uchwytu */
    transition: background 0.3s; /* Płynne przejście przy zmianie koloru */
}

/* Stylizacja uchwytu suwaka przy najechaniu */
#sample-songs-to-add::-webkit-scrollbar-thumb:hover {
    background: var(--shadow-white); /* Jaśniejszy kolor uchwytu przy najechaniu */
}

#create-playlist-menu h2{
    margin-top: 5px;
    color: var(--white);
    font-family: var(--main-font);
    font-size: 2rem;
}


#public-private {
    background-color: var(--light-grey);
    color: var(--white);
    border: 1px solid var(--dark-gray);
    padding: 5px;
    font-family: var(--main-font);
    width: 100%;
    height: 100%;
}

#public-private:hover {
    background-color: var(--lightest-gray);
}

#public-private:focus {
    border-color: var(--medium-gray);
    outline: none;
}

/* Stylizacja strzałki rozwijanego menu */
#public-private::after {
    content: '\25BC'; /* Strzałka w dół */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--white);
}

#create-playlist-menu button {
    margin-top: 30px;
    width: 225px;
    height: 75px;
    font-size: 2rem;
    font-family: var(--main-font);
    background-color: var(--light-grey);
    color: var(--white);
    border: 2px solid var(--lightest-gray);
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    border-radius: 0; /* Usunięcie zaokrąglenia */
}

#create-playlist-menu button:hover {
    background-color: var(--medium-gray);
    color: var(--darker-white);
}

#create-playlist-menu button:active {
    background-color: var(--darkest-gray);
}

#create-playlist-menu button:disabled {
    background-color: var(--darkest-gray);
    color: var(--shadow-white);
    border-color: var(--medium-gray);
    box-shadow: none;
    cursor: not-allowed;
}

.recommended-song-for-playlist {
    align-items: center;
    width: 500px; /* Ustaw szerokość, aby ograniczyć wielkość tekstu */
    margin-right: 20px;
}

.recommended-song-for-playlist img {
    width: 225px;
    height: auto;
    margin-right: 20px;
}

.scrolling-text h3,
.scrolling-text h4 {
    display: inline-block;
    white-space: nowrap;
    margin: 0;
    padding-right: 20px; /* Przerwa między tytułem a artystą */
}

@keyframes scrollText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.scrolling-text h3,
.scrolling-text h4 {
    animation: scrollText 10s linear infinite; /* 10s - Czas animacji, dostosuj wedle potrzeb */
}