* {
    user-select: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --darkest-gray: #161616;
    --dark-gray: #1a1a1a;
    --medium-gray: #202020;
    --light-grey: #2c2c2c;
    --lightest-gray: #444444;
    --white: #e6e6e6;
    --darker-white:#aaaaaa;
    --shadow-white: #888;
    --main-font: Arial, Helvetica, sans-serif;
}

body {
    overflow: hidden;
}

#container {
    display: flex;
    width: 100%;
    height: 100vh; /* Cała wysokość widoku */
    background-color: #000000;
}

#left-bar {
    z-index: 20;
    display: flex;
    width: 300px;
    background-color: var(--light-grey);
    color: var(--white);
    /*font-family: Arial, Helvetica, sans-serif;*/
    flex-direction: column;
    position: relative; /* Umożliwia poprawne działanie z `#content` */
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75px;
    font-size: 2.5rem;
    font-family: "Itim", cursive;
}

.left-bar-button {
    height: 55px;
    width: 100%;
    z-index: 30;
    font-size: 1.25rem;
    color: var(--white);
    background-color: var(--light-grey);
    border: 2px solid var(--lightest-gray);
    border-right: 0;
    border-left: 0;
    text-align: center;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s, box-shadow 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left-bar-button:hover {
    background-color: var(--lightest-gray);
    border-color: var(--lightest-gray);
    color: var(--white);
}

.left-bar-button:active {
    background-color: var(--light-grey);
    border-color: var(--lightest-gray);
    color: var(--white);
}

#home-icon{
    width: 40px;
    height: 40px;
}

#library-icon{
    width: 40px;
    height: 40px;
}

#media-icon{
    width: 40px;
    height: 40px;
}

.without-lower-border {
    border-bottom: 0;
}

#notifications-title{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    font-family: var(--main-font);
    font-size: 1.5rem;
}

#notifications-section{
    height: 66.5%;
}

#notifications{
    margin-left: 5px;
    margin-top: 10px;
    width: 295px;
    height: 92.5%;
    overflow: auto;
}

#notifications::-webkit-scrollbar{
    background-color: var(--lightest-gray);
    width: 5px;
}

#notifications::-webkit-scrollbar-thumb{
    background-color: #000000;
}

#no-new-notifications{
    padding-left: 35px;
    font-size: 0.9rem;
    font-family: var(--main-font);
    position: absolute;
}

#top{
    position: fixed; /* Ustawienie na fixed */
    top: 0; /* Przypięcie do górnej krawędzi */
    left: 300px; /* Dopasowanie do szerokości #left-bar */
    width: calc(100% - 300px); /* Dopasowanie szerokości do reszty ekranu */
    height: 77px;
    background: #2c2c2c;
    background: linear-gradient(90deg, var(--light-grey) 5%, var(--lightest-gray) 75%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    z-index: 10; /* Ustawienie nad innymi elementami */
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);*/
    border-bottom: solid 2px var(--lightest-gray);
}

#nickname{
    color: var(--white);
    display: flex;
    font-size: 1.5rem;
    font-family: var(--main-font);
    align-items: center;
}

#open-tab {
    width: 165px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-family: var(--main-font);
    color: var(--white);
}

#search {
    width: 25%;
    height: 40px;
    min-width: 150px;
    padding: 0 10px;
    border: 2px solid var(--lightest-gray);
    border-radius: 5px;
    background-color: var(--light-grey);
    color: var(--white);
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s, background-color 0.3s;
    font-family: var(--main-font);
}

#search::-webkit-search-cancel-button,
#search::-webkit-search-clear-button,
#search::-webkit-search-decoration,
#search::-webkit-search-done-button,
#search::-webkit-search-results-button,
#search::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

#search::placeholder {
    color: var(--shadow-white);
    opacity: 1;
}

#search:focus {
    border-color: var(--lightest-gray);
    background-color: var(--lightest-gray);
}

#search:hover {
    border-color: var(--light-grey);
    background-color: var(--lightest-gray);
}

#prof{
    height: 50px;
    width: 375px;
    display: flex;
    flex-direction: row-reverse;
}

.prof-item{
    margin-right: 15px;
}

#content {
    display: flex;
    flex-direction: column; /* Ustawia flexbox w kolumnach */
    width: 300px;
    height: calc(100% - 77px - 80px); /* 100% wysokości minus wysokość #top i #song-control */
    margin-top: 77px;
    flex: 1;
    position: relative;
}



#song-control {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: var(--medium-gray);
}

#controls{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 100%;
    width: 300px;
}

#skipPrevious{
    margin-top: 20px;
    height: 40px;
    width: 40px;
}

#play-stop{
    margin-top: 5px;
    height: 70px;
    width: 70px;
}

#skipNext{
    margin-top: 20px;
    height: 40px;
    width: 40px;
}

#time{
    display: flex;
    align-self: center;
    font-family: var(--main-font);
    color:var(--shadow-white);
}

#main-info{
    display: flex;
    align-items: center;
}

#artistAndAlbum{
    font-size: 1rem;
    color: var(--darker-white);
    font-family: var(--main-font);
}

#song-name{
    font-size: 1.25rem;
    color: var(--white);
    font-family: var(--main-font);
}

#star{
    height: 35px;
    width: 35px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

#rating{
    color:var(--darker-white);
    font-family: var(--main-font);
    font-size: 0.8rem;
}

#star-and-rating{
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#additional{
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    width: 240px;
}

.additional-icon{
    margin-top: 20px;
    margin-right: 20px;
    height: 40px;
    width: 40px;
}

/* Stylizacja suwaka */
#volume-bar {
    margin-top: 35px;
    appearance: none; /* Usuwa domyślne stylizowanie przeglądarki */
    width: 200px; /* Szerokość suwaka */
    height: 10px; /* Wysokość suwaka */
    background: var(--lightest-gray); /* Tło suwaka */
    border-radius: 5px; /* Zaokrąglenie rogów */
    outline: none; /* Usuwa kontur */
}

/* Stylizacja suwaka - części 'thumb' */
#volume-bar::-webkit-slider-thumb {
    -webkit-appearance: none; /* Usuwa domyślne stylizowanie przeglądarki */
    width: 20px; /* Szerokość 'thumb' */
    height: 20px; /* Wysokość 'thumb' */
    background: var(--shadow-white); /* Kolor 'thumb' */
    border-radius: 50%; /* Zaokrąglenie 'thumb' */
    cursor: pointer; /* Kursor zmienia się w palec */
}

#fullScreen{
    visibility: hidden;
    display: flex;
    background-color: var(--darkest-gray);
    z-index: 2;
    position: absolute; /* Potrzebne do położenia overlay nad tłem */
    top: 0;
    left: 0;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
}

#album-image-placeholder{
    height: 100%;
    width: 70%;
    background-color: var(--darkest-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 70%;
    max-height: 100%;
    aspect-ratio: 1 / 1; /* Zachowuje proporcje kwadratu */
}

#next-songs-list{
    z-index: 5;
    opacity: 0.8;
    width: 30%;
    height: 100%;
    background-color: var(--darkest-gray);
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 140px;
}

/* Stylizacja całego suwaka */
#next-songs-list::-webkit-scrollbar {
    width: 12px; /* Szerokość suwaka */
}

/* Stylizacja tła suwaka */
#next-songs-list::-webkit-scrollbar-track {
    background: var(--light-grey); /* Kolor tła suwaka */
}

/* Stylizacja uchwytu suwaka */
#next-songs-list::-webkit-scrollbar-thumb {
    background: var(--lightest-gray); /* Kolor uchwytu */
    transition: background 0.3s; /* Płynne przejście przy zmianie koloru */
}

/* Stylizacja uchwytu suwaka przy najechaniu */
#next-songs-list::-webkit-scrollbar-thumb:hover {
    background: var(--shadow-white); /* Jaśniejszy kolor uchwytu przy najechaniu */
}

#album-image-fullScreen {
    padding: 50px;
    width: 100%;
    max-width: 800px; /* Ustaw maksymalną szerokość */
    max-height: 800px; /* Ustaw maksymalną wysokość */
    height: auto; /* Automatyczna wysokość w zależności od szerokości */
    object-fit: cover; /* Dopasowuje obraz do rozmiaru elementu bez rozciągania */
    z-index: 5;
    aspect-ratio: 1; /* Utrzymuje proporcje 1:1 */
}

#album-image{
    height: 50px;
    max-width: 80px;
    min-width: 50px;
    margin-right: 10px;
    object-fit: cover;
    aspect-ratio: 1;
}

.right-bar-song-img{
    height: 55px;
    margin-left: 10px;
    margin-right: 10px;
    object-fit: cover;
    aspect-ratio: 1;
}

#album-blure-fullScreen{
    opacity: 0.5;
    filter: blur(60px);
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: cover; /* Dopasowuje obraz do rozmiaru elementu bez rozciągania */
    max-width: 800px;
    max-height: 800px;
    z-index: 4;
    aspect-ratio: 1; /* Utrzymuje proporcje 1:1 */
}

.songToSelect{
    width: 100%;
    height: 65px;
    background-color: var(--darkest-gray);
    border-bottom: solid 1px var(--light-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rightBarSongName{
    font-family: var(--main-font);
    font-size: 1.5rem;
    color: var(--white);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rightBarArtistName{
    font-family: var(--main-font);
    font-size: 1rem;
    color: var(--darker-white);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.songTime{
    padding-right: 15px;
    font-size: 1.25rem;
    color: var(--darker-white);
    font-family: var(--main-font);
    background-color: var(--darkest-gray);
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 21px;
    padding-bottom: 20px;
    position: absolute;
    right: -5px;
}

/* Ogólne style dla input[type="range"] */
#time-line {
    -webkit-appearance: none; /* Usuwa domyślny wygląd dla Webkit */
    width: 100%; /* Szerokość suwaka */
    height: 8px; /* Wysokość suwaka */
    background: transparent; /* Przezroczyste tło */
    padding: 10px 0; /* Margines dla suwaka */
    cursor: pointer; /* Zmieniamy kursor na wskaźnik */
    bottom: 70px;
    position: absolute;
}

/* Stylizowanie toru (track) suwaka dla Webkit */
#time-line::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    background: var(--shadow-white); /* Kolor toru */
}

/* Stylizowanie uchwytu (thumb) suwaka dla Webkit */
#time-line::-webkit-slider-thumb {
    -webkit-appearance: none; /* Usuwa domyślny wygląd */
    height: 10px;
    width: 10px;
    background: var(--white); /* Kolor uchwytu */
    border-radius: 45%; /* Zaokrąglony uchwyt */
    border: 1px solid var(--darker-white); /* Opcjonalna ramka wokół uchwytu */
    margin-top: -3px; /* Pozycjonowanie uchwytu w pionie, aby było w środku toru */
    cursor: pointer;
}

#play-pause-in-circle{
    position: absolute;
    z-index: 30;
    visibility: hidden;
    mix-blend-mode: difference; /* odwrócenie koloru obrazka */
}

#dropdown-content-playlist{
    overflow-y: auto;
    bottom: 82px;
    right: 15px;
    position: absolute;
    max-height: 336px;
    width: 200px;
    background-color: var(--light-grey);
    z-index: 100;
}

/* Stylizacja całego suwaka */
#dropdown-content-playlist::-webkit-scrollbar {
    width: 4px; /* Szerokość suwaka */
}

/* Stylizacja tła suwaka */
#dropdown-content-playlist::-webkit-scrollbar-track {
    background: var(--light-grey); /* Kolor tła suwaka */
}

/* Stylizacja uchwytu suwaka */
#dropdown-content-playlist::-webkit-scrollbar-thumb {
    background: var(--lightest-gray); /* Kolor uchwytu */
    transition: background 0.3s; /* Płynne przejście przy zmianie koloru */
}

/* Stylizacja uchwytu suwaka przy najechaniu */
#dropdown-content-playlist::-webkit-scrollbar-thumb:hover {
    background: var(--shadow-white); /* Jaśniejszy kolor uchwytu przy najechaniu */
}

#dropdown-content-playlist p{
    color: var(--white);
    font-family: var(--main-font);
    font-size: 1.35rem;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 5px;
    border-top: solid 1px var(--darkest-gray);
    border-bottom: solid 1px var(--darkest-gray);
}

#loading-songs{
    width: 250px;
    height: 100px;
    background-color: var(--dark-gray);
    position: absolute;
    right: 15px;
    bottom: 100px;
    visibility: visible;
}

#loading-songs progress {
    width: 100%;          /* Szerokość paska postępu */
    height: 30px;         /* Wysokość paska postępu */
    appearance: none;    /* Ukrywa domyślny wygląd w przeglądarkach */
}

/* Styl dla pasków postępu w przeglądarkach, które obsługują to */
#loading-songs progress::-webkit-progress-bar {
    background-color: #111111; /* Tło paska postępu */
}

#thisSong::-webkit-progress-value {
    background-color: #262d4d; /* Kolor wypełnienia paska postępu */
}
#thisSong{
    position: relative;
    bottom: 10px;
}
#allSongs::-webkit-progress-value {
    background-color: #105f09; /* Kolor wypełnienia paska postępu */
}
#allSongs {
    position: relative;
    bottom: 17px;
}
#transferring-song-information {
    position: absolute;
    bottom: 5px;
    color: var(--darker-white);
    font-family: var(--main-font);
    font-size: 1rem;
    text-align: center;
    width: 100%;
}


@keyframes shrink-to-zero {
    0% {
        transform: scale(1500%);
        opacity: .5;
        filter: blur(1px);
    }
    100% {
        transform: scale(0%);
        opacity: 1;
        filter: blur(0px);
    }
}

@keyframes fullscreenOn-RightBar {
    0% {
        transform: translateX(100%); /* Zaczyna się poza ekranem z prawej strony */
    }
    100% {
        transform: translateX(0); /* Kończy w normalnej pozycji */
    }
}

@keyframes fullscreenOff-RightBar {
    0% {
        transform: translateX(0); /* Zaczyna się poza ekranem z prawej strony */
    }
    100% {
        transform: translateX(100%); /* Kończy w normalnej pozycji */
    }
}

@keyframes fullscreenOn-AlbumCover {
    0% {
        transform: translateY(100%); /* Zaczyna się poza ekranem z prawej strony */
    }
    100% {
        transform: translateY(0); /* Kończy w normalnej pozycji */
    }
}

@keyframes fullscreenOff-AlbumCover {
    0% {
        transform: translateY(0); /* Zaczyna się poza ekranem z prawej strony */
    }
    100% {
        transform: translateY(100%); /* Kończy w normalnej pozycji */
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


@keyframes makeNormal {
    0% {
        transform: scale(0.85); /* Kończy w normalnej pozycji */
    }
    100% {
        transform: scale(1.2); /* Kończy w normalnej pozycji */
    }
}

@keyframes makeSmaller {
    0% {
        transform: scale(1.2); /* Kończy w normalnej pozycji */
    }
    100% {
        transform: scale(0.85); /* Kończy w normalnej pozycji */
    }
}

@keyframes mauseOut {
    0% {
        transform: scale(1.2); /* Kończy w normalnej pozycji */
    }
    100% {
        transform: scale(1); /* Kończy w normalnej pozycji */
    }
}

@keyframes mauseOn {
    0% {
        transform: scale(1); /* Kończy w normalnej pozycji */
    }
    100% {
        transform: scale(1.2); /* Kończy w normalnej pozycji */
    }
}