#top{
    height: 75px;
    width: 100%;
    top: 0px;
    display: flex;
    position: absolute;
    padding-bottom: 5px
}

#picture-and-name{
    height: 75px;
    width: 75vw;
    align-items: center;
    display: flex;
    overflow: hidden;
    font-size: .8rem;
    transition: .3s;
}
#picture-and-name h1{
    white-space: nowrap;
    color: var(--white);
    font-family: var(--font);
    margin-bottom: 5px;
}
#picture-and-name p{
    white-space: nowrap;
    color: var(--grey);
    font-family: var(--font);
    margin-top: 5px;
}

#picture-of-playing-song{
    object-fit: cover;
    width: 60px;
    margin: 5px;
    margin-right: 10px;
    aspect-ratio: 1;
    transition: .3s;
    z-index: 10;

}

#name-artist-and-album{
    opacity: 1;
}

#control-buttons{
    width: 25vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#play-pause-button img{
    aspect-ratio: 1;
    height: 60px;

}

#others-settings{
    display: none;
    flex-direction: row-reverse;
}

#others-settings img{
    height: calc(100% - 25px);
    padding: 12.5px;
}

.skip{
    visibility: hidden;
    height: 100%;
    width: 10%;
}


@media (1250px > width > 650px) {

    #control-buttons{
        width: 50vw;
    }

    #picture-and-name{
        width: 50vw;
    }

    .skip{
        visibility: visible;
    }
}

@media (width >= 1250px) {

    #control-buttons{
        width: 33vw;
    }

    #picture-and-name{
        width: 33vw;
    }

    #others-settings{
        width: 33vw;
        display: flex;    }

    .skip{
        visibility: visible;
    }
}