#full{
    width: calc(100% - 251px);
    margin-left: 251px;
    height: calc(100% - 75px);
    position: absolute;
    top: 0px;
    background-color: var(--black);
    display: none;
    flex-direction: row;
}

@keyframes down {
    0% {
        transform: translateY(0vh);
    }
    100% {
        transform: translateY(110vh);
    }
}

@media (width < 650px) {
    #full{
      width: calc(100% - 100px);
      margin-left: 100px;
    }
}

@keyframes pulsing {
    0% {
        transform: scale(1);
        filter: blur(100px);
    }
    50% {
        transform: scale(1.05);
        filter: blur(150px);
    }
    100% {
        transform: scale(1);
        filter: blur(100px);
    }
    
}

#picture-full{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 100%;
}

#blure-picture{
    width: 90%;
    height: 90%;
    position: absolute;
    z-index: 4;
    filter: blur(100px);
    animation: pulsing 5s infinite linear;
}

#play-list{
    background-color: var(--black);
    width: 25%;
    height: 100%;
    min-width: 250px;
    z-index: 10;
    border-left: 1px solid var(--light-black);
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}