
/*
.scrollY {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--dark-white) var(--black);
}

.scrollY::-webkit-scrollbar {
    width: 8px; 
}

.scrollY::-webkit-scrollbar-track {
    background: #ccc; 
    border-radius: 0; 
}

.scrollY::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 0;
}


.scrollY::-webkit-scrollbar-button {
    display: none !important; 
}


.scrollY::-webkit-scrollbar-button:start {
    display: none !important;
}

.scrollY::-webkit-scrollbar-button:end {
    display: none !important; 
}


.scrollY {
    -ms-overflow-style: none;
}









.scrollX {
    overflow-x: auto; 
    scrollbar-width: thin;
    scrollbar-color: var(--dark-white) var(--black);
}


.scrollX::-webkit-scrollbar {
    height: 8px; 
}

.scrollX::-webkit-scrollbar-track {
    background: #ccc;
    border-radius: 0;
}

.scrollX::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 0;
}


.scrollX::-webkit-scrollbar-button {
    display: none !important; 
}


.scrollX::-webkit-scrollbar-button:start {
    display: none !important; 
}

.scrollX::-webkit-scrollbar-button:end {
    display: none !important;
}


.scrollX {
    -ms-overflow-style: none;
}
*/