.timeline {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background: var(--ligth-black); /* Kolor części za kropką */
    border-radius: 0px;
    outline: none;
    transition: background 0.3s;
    position: relative;
  }
  
  /* Pasek suwaka */
  .timeline::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    background: var(--ligth-black); /* Kolor części za kropką */
    border-radius: 0px;
    position: relative;
  }
  
  /* Kropka (thumb) */
  .timeline::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: var(--dark-white);
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
    position: relative;
    margin-top: -4px; /* Wyśrodkowanie kropki */
    z-index: 2;
  }
  
  .timeline::-webkit-slider-thumb:hover {
    background: var(--white);
  }
  
  /* Wypełniona część przed kropką */
  .timeline::before {
    content: "";
    position: absolute;
    height: 2px;
    background: var(--dark-white); /* Kolor przed kropką */
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: var(--progress-width, 50%);
    z-index: 1;
  }
  
  /* Firefoks */
  .timeline::-moz-range-track {
    width: 100%;
    height: 2px;
    background: red; /* Kolor części za kropką */
    border-radius: 0px;
  }
  
  .timeline::-moz-range-progress {
    background: var(--dark-white); /* Kolor przed kropką */
    height: 2px;
    border-radius: 0px;
  }
  
  .timeline::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: var(--dark-white);
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .timeline::-moz-range-thumb:hover {
    background: var(--white);
  }
  

.timeline.active {
    height: 7px;
}

.timeline.active::-webkit-slider-thumb{
  width: 15px;
  height: 15px;
  margin-top: -7px;
}

.timeline.active::before{
  height: 7px;
}